
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

.image-comparator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.image-preview {
  max-width: 300px;
  margin-top: 10px;
  border: 1px solid #eee;
}

.results-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 640px;
}

.diff-map {
  border: 1px solid black;
  margin-top: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.file-input {
  margin-bottom: 10px;
}
